.table1 {
    font-family: sans-serif;
    color: black;
    border-collapse: separate;
    border-spacing: 2px;
    background-color: gold;
}
 
.table1, th, td {
    border: 1px solid #999;
    padding: 5px;
}